:root{
    --PrimaryColor: hsl(199, 100%, 33%);
    --SecondaryColor: hsl(185, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(185, 85%, 43%), hsl(199, 100%, 33%));
    --whiteColor: hsl(0, 0%, 100%);
   --blackColor: hsl(201, 33%, 16%);
   --textColor: hsl(240, 4%, 36%);
   --whiteColorDeam: hsl(0, 0%, 93%);
   --greyText: rgb(190, 190, 190);
   --inputColor: rgb(239, 239, 239);
   --bodyColor: rgb(240, 240, 246);
   --cardBG: rgb(225, 225, 225);
   --cardHover: rgb(255, 255, 255);
}

.main{
    width: 100%;

    .secTitle{
        .title{
            position: relative;
            width: max-content;
            color:var(--blackColor);
            margin: 1rem 0;
            z-index: 2;

            &::after{
                position: absolute;
                content: '';
                background: var(--SecondaryColor);
                height: 5px;
                width: 120px;
                right: 0;
                bottom: 5px;
                z-index: -1;
            }
        }
    }

    .secContent{
        justify-content: center;
        gap: 1.5rem;

       .singleDestination{
        height: 100%;
        display: grid;
        row-gap: 10px;
        //padding: 1rem;
        border-radius: 10px;
        background:var(--cardBG);
        box-shadow: 0 2px 4px rgba(140, 140, 141, 0.549);
        overflow: hidden;
        &:hover{
            background: var(carHover);
            box-shadow: 1 4px 4px rgba(85, 85, 114, 0.549);
            transition: .3s ease;
        }

        .imageDiv{
            height: 200px;
            width: 100%;
            overflow: hidden;
    
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: 2s ease;
            }

          &:hover{
            img{
            transform: scale(1.1);
            }
          }
            }
    
            .cardInfo{
                padding: 1rem;

                .desTitle{
                    color: var(--blackColor);
                    font-size: 1.25rem;
                }

             .continent{
                gap: .5rem;

                .icon{
                    color: var(--textColor);
                    font-size: 18px;
                }

                .name{
                    color: var(--textColor);
                    font-weight: 400;
                    font-size: 14px;
                }
             }

             .days{
                width: 100%;
                justify-content: space-between;
                padding: 1rem;
                margin: .4rem 0;
                border-top: 1.5px solid var(--greyText);
                border-bottom: 1.5px solid var(--greyText);

              .grade{
                color: var(--textColor);
                max-width: 100px;
                line-height: 12px;
                display: flex;
                align-items: center;
                justify-content: center;

              }

             }

             .desc{
                font-size: 13.5px;
                color: rgb(37, 37, 16);
                 font-weight: 500;
            }

            .btn{
                margin-top: 1rem;
                color: var(--whiteColor);
                font-weight: 600;
                justify-content: space-between;
                gap: .5rem;
                font-size: 12px;

                .icon{
                    align-self: center;
                    font-size: 18px;
                }
               
            }
            }

       }

    }


    .modal{
       position: fixed;
       z-index: 1;
       align-items: center;
       width: 650px;
       background: white;
       top: 39%;
       left: 43%;
       transform: translate(-40%, -40%);
       box-shadow: rgb(75, 74, 74) 0px 5px 15px;
       border: 1.5px solid;
       padding: 20px 30px;
       border-radius: 7px;
       width: 80%;
       max-width: 600px;
       margin: 0 auto;
       z-index: 1000;
    }

    .modal .modal_content{
        max-width: 100%;
        max-height: 80vh; 
        overflow-y: auto;
    }

    .modal .modal_content .close{
         cursor: pointer;
         border: none;
    }

    .modal .modal_content h2{
        color: rgb(100, 131, 17);
        text-transform: capitalize;
        font-weight: 700;
    }

    .modal .modal_content h3{ 
        padding-bottom: 0.5px;
        margin-bottom: 2px; 
        font-weight: 900;
    }
    





}

//MEDIA QUERIES**************>

@media screen and (min-width: 500px) {
    .title{
        font-size: 1.5rem;
        &::after{
            width: 155px !important;
        }
    }

    .secContent{
        grid-template-columns: repeat(2,1fr);

        .singleDestination{
            height: auto;
        }
    }
}


@media screen and (min-width: 840px) {
    .secContent{
        grid-template-columns: repeat(3,1fr);

        .singleDestination{
            height: auto;
        }
    }
}
